
.block {
	width: $block-width;
	height: $block-height;
	display: inline-block;
	background: $color-base;
	float: left;
	border-radius: 3px;
}

.block.correct {
	background: invert($color-base);
}


.block.clicked {
	background: red;
}

.block.correct.clicked {
	background: lighten( invert($color-base), 50%);
}


