
.block {
	width: $block-width;
	height: $block-height;
	display: inline-block;
	background: $color-base;
	float: left;
}

.block.correct {
	background: invert($color-base);
	border-radius: 3px;
	box-shadow: 0 -2px 23px 1px #666;
	position: relative;
	z-index: 10;
}


.block.clicked {
	background: red;
}

.block.correct.clicked {
	background: lighten( invert($color-base), 50%);
}


